@import '~antd/dist/antd.css';

body, html, #root, .ant-layout, .ant-layout-sider{
    height: 100%;
}

.ant-menu{
    /*height: calc(100% - 200px);*/
    height: calc(100% - 200px);
}

.user-info{
    height: 200px;
    background-color: #fff;
}

.main-content{
    position: absolute;
    width: calc(100% - 240px);
    height: calc(100% - 40px);
    left: 200px;
    margin: 20px;
    background-color: #fff;
    text-align: right;
}

.project-list{
    padding: 10px;
    height: 100%;
}

.add-item{
    margin-bottom: 5px;
}
.select-row{
    padding: 30px 25px 25px 25px;
}
.select-card{
    height: 150px;
    line-height: 150px;
    text-align: center;
    padding: 21px;
}
.ant-card-body{
    padding: 0;
}
.select-icon{
    font-size: 6em;
    color: #5093e9;
}
.submenu-title{
    color: rgba(0, 0, 0, 0.65);
    display: block;
}
.login{
    width: 100%;
    height: 100%;
    background-color: #ddd;
    padding: 200px 0;
    vertical-align: middle;
}
.login-section{
    width: 35%;
    margin: 0 auto;
    min-width: 300px;
    max-width: 500px;
}
.login-form{
    padding: 20px 30px;
}
.login-form-forgot{
    float: right;
}
.login-form-button{
    width: 100%;
}
.register{
    width: 100%;
    height: 100%;
    background-color: #ddd;
    padding: 100px 0;
}
.register-section{
    width: 55%;
    margin: 0 auto;
    max-width: 590px;
}
.register-form{
    padding: 30px 30px 10px 30px;
}
.logout{
    display: block;
}
.department{
    padding: 10px;
}
.add-department{
    margin-bottom: 5px;
}
.spin{
    margin: 0 15px;
    color: #ccc;
}
.icon-manage{
    margin: 0 auto;
    text-align: center;
}
.staff{
    padding: 10px;
}
table .anticon{
    font-size: 16px;
}

.my-daily{
    padding: 10px;
}
.document{
    padding: 10px;
}
.document-bread{
    display: block;
    text-align: left;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    margin-top: 10px;
}
.document-bread .ant-breadcrumb{
    display: inline-block;
}
.folder{
    text-align: left;
    line-height: 40px;
    height: 40px;
    color: #108ee9;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
}
.folder:hover{
    cursor: pointer;
}
.folder .anticon{
    margin: 5px 10px;
}

.user-avatar{
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.user-avatar img{
    width: 130px;
    height: 130px;
    border-radius: 150px;
    display: block;
    margin: 0 auto;
}
.user-name{
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
}

.document-manage{
    text-align: left;
}
.document-manage button{
    margin-right: 10px;
}

.folder .ant-btn{
    border: none;
    padding: 0;
    /*display: none;*/
}

.folder:hover .folder-manage{
    display: inline-block;
}

.folder .folder-manage{
    position: absolute;
    right: 5px;
    display: none;
}

input[type=file]{
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
